{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block 'title' %}Отсутствует{% endblock %} &bullet; MusicShaper</title>
    <link rel="shortcut icon" href="{% static 'img/logo/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/themes.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% include 'components/side-bar.html' %}
    {% block 'head' %}{% endblock %}
</head>
<body class="light">
    <div style="display: flex; align-items: flex-start;">
        <side-bar></side-bar>
        <div id="_mainContainer" class="container" style="width: -webkit-fill-available;">
            {% include 'messages.html' %}
            {% block 'body' %}
                Здесь должен размещаться контент страницы
            {% endblock %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    {% block 'scripts' %}{% endblock %}
</body>
</html>
